/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  width: 350px;
}

ul img {
  width: 150px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	text-align: center;
	display: inline;
}

nav a {
	font-size: 1.5em;
	height: 1.5em;
	float: left;
	text-decoration: none;
	display: block;
	margin-right: 1em;
	padding-top: 0.5em;
}

.title {
	margin-bottom: 0;
	margin-top: 0;
}

header, header nav {
	margin: 0 auto;
	text-align: center;
	background-color: #FFCF78;
	width: 45%;
	margin-right: 27.5%;
	margin-left: 27.5%;
	display: inline-block;
}
.container {
	margin-top: 2em;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	
}

.login-form, .new-user-form, .edit-user-form {
	text-align: center;
	width: 100%;
	background-color: #FFCF78;
}

.games-list {
	text-align: center;

}

.game-listing {
	border-top: 1px solid black;
}

.game-listing, .game-listing .description p {
	text-align: left;
}

.game-listing p{
	text-align: justify;
}