/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 #837F84
 #735C9D
 #CF9FE3
 #C8D2F5
 */

.navigation {
	width: 100%;
	text-align: center;
}

.notices, .errors {
	padding-top: 1em;
	width: 100%;
	text-align: center;
}

body {
	background-color: #AFA9FF;
	color: #57256F;
	text-shadow: 0.5px -1px black;
	font-size: 1.1em;
}

a {
	color: #0847D0;
	text-shadow: 0.5px -1px #251735;
	text-decoration: none;
}

a:visited {
	color: #1D6EC0;
	text-shadow: 0.5px -1px #251735;
}

img {
  width: 250px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	text-align: center;
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
}

nav a {
	font-size: 1.5em;
	height: 1.3em;
	text-decoration: none;
	display: block;
	padding-top: 0.5em;
	display: inline-block;
}

.title {
	margin-bottom: 0;
	margin-top: 0.5em;
}

header, header nav {
	margin: 0;
	text-align: center;
	background-color: #EACAFF;
	display: inline-block;
	border-radius: 30px;
}

header {
	width: 30%;
	margin-right: 35%;
	margin-left: 35%;
	-webkit-box-shadow: 0 10px 10px -0px #6153BF;
	-moz-box-shadow: 0 10px 10px -0px #6153BF;
	box-shadow: 0 10px 10px -0px #6153BF;
}

header nav {
	width: 100%;
}

.container {
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;

}

.login-form, .new-user-form, .edit-user-form {
	text-align: center;
}

input {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 30%;
	margin-left: 30%;
	width: 40%;
	font-size: 1.2em;
}

.games-list {
	text-align: center;

}

.game-listing, .user-profile, .game-info {
	border-radius: 30px;
	-webkit-box-shadow: 0 10px 10px -0px #6153BF;
	-moz-box-shadow: 0 10px 10px -0px #6153BF;
	box-shadow: 0 10px 10px -0px #6153BF;
	margin-top: 1em;
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 1em;
	background-color: #EACAFF;
}

.user-profile {
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.login-form, .new-user-form, .edit-user-form, .new-comment-form {
	border-radius: 30px;
	-webkit-box-shadow: 0 10px 10px -0px #6153BF;
	-moz-box-shadow: 0 10px 10px -0px #6153BF;
	box-shadow: 0 10px 10px -0px #6153BF;
	margin-top: 1em;
	font-size: 1.3em;
	vertical-align: middle;
	color: #564BD4;
	margin-right: 30%;
	margin-left: 30%;
	width: 40%;
	float: left;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
	background-color: #EACAFF;
}

.new-comment-form textarea {
	height: 7em;
	width: 90%;
	border-radius: 5px;
	font-size: 1em;
}

.game-listing .stats {
	text-align: center;
	float: left;
	clear: left;
	padding-left: 1%;
	width: 15%;
	display: inline;
}

.stats {
	margin-top: 2em;
	background-color: #9F83AB;
	height: 100%;
	margin-left: 1%;
	border: 1px solid black;
	border-radius: 1em 1em 1em 1em;
	margin-bottom: 2em;
	padding-right: 0.5em;
}

.stats h3, .stats img, .stats p {
	margin-top: 5px;
	margin-bottom: 0;
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
}

.stats a, .game-listing a {
	text-decoration: none;
}

.description-text, .read-more, .comment-count{
	display: inline;
	float: right;
	text-align: justify;
	width: 78%;
	padding-right: 2%;
	vertical-align: middle;
	margin-bottom: 0;
	margin-top: 0;
}

.read-more {
	text-align: right;
}

.description-text p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
}

.description-title {
	text-align: left;
}

.page-title {
	text-align: center;
}

.game-info h1, .game-info img, .game-info h4 {
	text-align: left;
	width: 20%;
}

.description {
	text-align: center;
}

.game-info h4 {
	font-size: 1.5em;
	text-align: center;
	width: 100%;
}

.game-info .description-text, .mechanics, .comment, .buttons {
	width: 80%;
	text-align: justify;
	margin-left: 8%;
	margin-right: 8%;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #9F83AB;
	border-radius: 1em;
	font-size: 1.3em;
}

.buttons {
	text-align: center;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	padding-left: 0;
	padding-right: 0;
}

.game-headers {
	float: left;
	width: 30%;
	margin-left: 20%;
	font-size: 2em;
}

.description-header {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}

.game-headers p {
	margin: 0 auto;
	width: 100%;
}

.game-headers img {
	width: 70%;
}


.mechanics, .add-comment {
	text-align: center;
}

.add-comment {
	height: 10px;
}

.add-comment, .comment-section {
	padding-top: 1em;
}

.game-comments {
	display: none;
}


